.form-label {
    display: flex;
    flex-direction: column;
    color: #7D8592;

    & span {
        margin-left: 6px;
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 15px;
    }

    & .label-error-text {
        font-weight: 500;
        font-size: 12px;
        margin-left: 15px;
    }
}

.default-input {
    border: 1px solid #D8E0F0;
    outline: none;
    padding: 10px 20px;
    border-radius: 14px;
    color: #0A1629;
    transition: all 0.2s ease;
}

.label-error-true span {
    transition: all 0.2s ease;
    color: #e9606b;
}

.input-error-true {
    transition: all 0.2s ease;
    border-color: #e9606b;
}

.default-input:focus {
    box-shadow: #D8E0F0 0px 0px 16px;
}

.default-input:disabled {
    color: #B2B8C2;
    border-color: #B2B8C2;

    &::placeholder {
        color: #B2B8C2;
    }
}