.login-left {
    padding: 40px 80px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: 600;
    max-width: 680px;
    width: 100%;
}

.login-desc {
    max-width: 398px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: white;
    font-size: 36px;
}